.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transform: scale(1.2);
  min-width: 40vw;
}

.search-bar-wrapper .my-buttton {
  background-color: #ffff00b3;
  opacity: 0.7;
  border-radius: 10px;
  margin: 20px;
}
